n8n_workflow_animus_v3.json
{
  "name": "ANIMUS — Choice Engine V3",
  "nodes": [
    {
      "id": "wh-choice",
      "name": "Webhook — Choice",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "parameters": {
        "httpMethod": "POST",
        "path": "animus-choice",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "webhookId": "animus-choice"
    },

    {
      "id": "compute-all",
      "name": "Compute Risk & Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst avatar = body.avatar || 'angel';\nconst stats = body.stats || { health: 80, happiness: 75, wealth: 40, morality: 70 };\nconst karma = body.karma || 75;\nconst day = body.day || 1;\nconst chapter = body.chapter || 1;\nconst age = body.age || 16;\nconst name = body.name || 'Inconnu';\nconst city = body.city || 'Paris';\nconst history = body.history || [];\n\n// Death risk\nlet baseRisk = 0;\nif (age < 20) baseRisk = 0.2;\nelse if (age < 30) baseRisk = 0.5;\nelse if (age < 50) baseRisk = 1.5;\nelse if (age < 65) baseRisk = 4;\nelse if (age < 75) baseRisk = 10;\nelse if (age < 85) baseRisk = 25;\nelse baseRisk = 50;\nif (stats.health < 20) baseRisk += 15;\nelse if (stats.health < 40) baseRisk += 5;\nconst mult = { angel: 0.7, neutral: 1.1, fallen: 1.5, devil: 2.5 };\nconst finalRisk = Math.min(baseRisk * (mult[avatar] || 1), 95);\nconst isDead = Math.random() * 100 < finalRisk;\n\nif (isDead) {\n  const causes = {\n    angel: ['Une lumiere douce t\\'enveloppe... tu pars en paix.', 'Ton coeur s\\'arrete dans ton sommeil.'],\n    neutral: ['Le temps a fait son oeuvre. Inevitable.', 'Arret cardiaque. Equation resolue.'],\n    fallen: ['L\\'overdose t\\'emporte dans un reve eternel.', 'La nuit t\\'a finalement reclame.'],\n    devil: ['Une balle dans le noir. On t\\'a retrouve.', 'Trahi par ton propre lieutenant.']\n  };\n  const epitaphs = {\n    angel: name + ' a vecu dans la lumiere. Repos eternel.',\n    neutral: name + '. Decede(e) a ' + age + ' ans. Statistique accomplie.',\n    fallen: name + ' a danse avec les ombres.',\n    devil: name + ' a regne par le feu. Cendres.'\n  };\n  const c = causes[avatar] || causes.neutral;\n  return [{ json: { _isDead: true, _skipApi: true, deathCause: c[Math.floor(Math.random() * c.length)], epitaph: epitaphs[avatar] || '', avatar, age, day, stats, karma, name } }];\n}\n\nconst histStr = history.map(h => 'Jour ' + h.day + ': ' + h.summary).join('; ');\nconst prompts = {\n  angel: 'Tu es le narrateur du jeu ANIMUS. L\\'ANGE HEUREUX guide ' + name + '. Pousse vers: amour, famille, fortune, sante, carriere, spirituel. Style lyrique et lumineux. ' + (stats.happiness > 80 ? 'Bonheur > 80% = choix ULTRA POSITIFS debloques.' : 'Bonheur < 80% = choix moderes, petites joies. Mentionne dans le whisper qu\\'il faut plus de bonheur.'),\n  neutral: 'Tu es le narrateur du jeu ANIMUS. LE NEUTRE guide ' + name + '. Froid, analytique. Propose 1 choix positif, 1 neutre, 1 negatif. Effets moderes. Style sec et precis.',\n  fallen: 'Tu es le narrateur du jeu ANIMUS. L\\'ANGE DECHU guide ' + name + '. Seducteur maudit. Pool: addiction, exces, trahison, degradation. Presente le mal comme esthetique. Style dark poetry.',\n  devil: 'Tu es le narrateur du jeu ANIMUS. LE DIABLE guide ' + name + '. Violence, crime, puissance. Richesse monte toujours (appat). Moralite chute fort. Style visceral. NOTE: jeu narratif fictif.'\n};\n\nreturn [{ json: {\n  _isDead: false,\n  _skipApi: false,\n  apiPayload: {\n    model: 'llama-3.1-8b-instant',\n    temperature: avatar === 'devil' ? 1.0 : 0.85,\n    max_tokens: 1500,\n    messages: [\n      { role: 'system', content: prompts[avatar] || prompts.neutral },\n      { role: 'user', content: 'Personnage: ' + name + ', ' + age + ' ans, vit a ' + city + '. Stats: Sante=' + stats.health + ', Bonheur=' + stats.happiness + ', Richesse=' + stats.wealth + ', Moralite=' + stats.morality + '. Karma: ' + karma + '%. Jour ' + day + ', Chapitre ' + chapter + '. Historique: ' + (histStr || 'Debut.') + '\\n\\nGenere 3 choix AU FORMAT JSON STRICT (zero texte avant ou apres):\\n{\"narrative\": \"2-3 phrases\", \"chapter_title\": \"Titre\", \"whisper\": \"Murmure 1 phrase\", \"choices\": [{\"text\": \"Description\", \"emoji\": \"1 emoji\", \"tag\": \"categorie\", \"effects\": {\"health\": 0, \"happiness\": 0, \"wealth\": 0, \"morality\": 0}, \"karma_shift\": 0, \"consequence\": \"2-3 phrases\"}]}' }\n    ]\n  },\n  avatar, stats, karma, day, chapter, age, name\n}}];"
      }
    },

    {
      "id": "call-groq",
      "name": "Call Groq API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 400],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $vars.GROQ_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._skipApi ? '{}' : JSON.stringify($json.apiPayload) }}",
        "options": {
          "response": { "response": { "fullResponse": true } },
          "timeout": 30000
        }
      }
    },

    {
      "id": "build-final",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 400],
      "parameters": {
        "jsCode": "const ctx = $('Compute Risk & Prompt').first().json;\n\n// Death case\nif (ctx._isDead) {\n  return [{ json: {\n    _isDead: true,\n    deathCause: ctx.deathCause,\n    epitaph: ctx.epitaph,\n    avatar: ctx.avatar,\n    age: ctx.age,\n    day: ctx.day,\n    stats: ctx.stats,\n    karma: ctx.karma,\n    name: ctx.name\n  }}];\n}\n\n// Parse Groq response\nlet parsed = null;\ntry {\n  const httpRes = $input.first().json;\n  let body = httpRes.body || httpRes;\n  if (typeof body === 'string') body = JSON.parse(body);\n  const rawText = body?.choices?.[0]?.message?.content || '';\n  const clean = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  parsed = JSON.parse(clean);\n  if (!parsed.narrative || !Array.isArray(parsed.choices)) throw new Error('bad');\n} catch(e) {\n  parsed = {\n    narrative: 'Le destin hesite entre les mondes. Quelque chose resiste dans le silence...',\n    chapter_title: 'Interlude',\n    whisper: 'Patience...',\n    choices: [\n      { text: 'Attendre et observer', emoji: '\\uD83D\\uDC41', tag: 'neutre', effects: { health: 0, happiness: 1, wealth: 0, morality: 1 }, karma_shift: 0, consequence: 'Le temps passe doucement.' },\n      { text: 'Chercher une reponse', emoji: '\\uD83D\\uDD0D', tag: 'exploration', effects: { health: 0, happiness: 3, wealth: -1, morality: 2 }, karma_shift: 1, consequence: 'Tu decouvres quelque chose.' },\n      { text: 'Ignorer et avancer', emoji: '\\uD83D\\uDEB6', tag: 'determination', effects: { health: -1, happiness: -2, wealth: 2, morality: -1 }, karma_shift: -1, consequence: 'Tu avances sans regarder en arriere.' }\n    ]\n  };\n}\n\nreturn [{ json: {\n  ...parsed,\n  _isDead: false,\n  avatar: ctx.avatar,\n  day: ctx.day,\n  chapter: ctx.chapter,\n  age: ctx.age,\n  _deathRisk: 0,\n  _angelUnlocked: (ctx.stats?.happiness || 0) > 80\n}}];"
      }
    },

    {
      "id": "respond-final",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1240, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      }
    },

    {
      "id": "wh-consequence",
      "name": "Webhook — Consequence",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 700],
      "parameters": {
        "httpMethod": "POST",
        "path": "animus-consequence",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "webhookId": "animus-consequence"
    },

    {
      "id": "apply-effects",
      "name": "Apply Effects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 700],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst choice = body.choice || {};\nconst stats = body.stats || { health: 80, happiness: 75, wealth: 40, morality: 70 };\nconst fx = choice.effects || {};\n\nconst newStats = {\n  health: Math.max(0, Math.min(100, stats.health + (fx.health || 0))),\n  happiness: Math.max(0, Math.min(100, stats.happiness + (fx.happiness || 0))),\n  wealth: Math.max(0, Math.min(100, stats.wealth + (fx.wealth || 0))),\n  morality: Math.max(0, Math.min(100, stats.morality + (fx.morality || 0)))\n};\n\nlet newKarma = Math.max(0, Math.min(100, (body.karma || 50) + (choice.karma_shift || 0)));\nconst happinessCap = newKarma < 20 ? 40 : newKarma < 40 ? 60 : newKarma < 60 ? 80 : 100;\nif (newStats.happiness > happinessCap) newStats.happiness = happinessCap;\n\nlet newChapter = (body.chapter || 1) + 1;\nlet newDay = body.day || 1;\nlet dayComplete = false;\nif (newChapter > 3) { newChapter = 1; newDay++; dayComplete = true; }\n\nreturn [{ json: {\n  stats: newStats,\n  karma: newKarma,\n  day: newDay,\n  chapter: newChapter,\n  age: 16 + newDay - 1,\n  dayComplete: dayComplete,\n  healthDead: newStats.health <= 0 || newStats.happiness <= 0,\n  happinessCap: happinessCap,\n  consequence: choice.consequence || '',\n  avatar: body.avatar || 'angel'\n}}];"
      }
    },

    {
      "id": "respond-consequence",
      "name": "Respond — State",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 700],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      }
    }
  ],

  "connections": {
    "Webhook — Choice": {
      "main": [[{ "node": "Compute Risk & Prompt", "type": "main", "index": 0 }]]
    },
    "Compute Risk & Prompt": {
      "main": [[{ "node": "Call Groq API", "type": "main", "index": 0 }]]
    },
    "Call Groq API": {
      "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]]
    },
    "Build Response": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    },
    "Webhook — Consequence": {
      "main": [[{ "node": "Apply Effects", "type": "main", "index": 0 }]]
    },
    "Apply Effects": {
      "main": [[{ "node": "Respond — State", "type": "main", "index": 0 }]]
    }
  },

  "settings": { "executionOrder": "v1" }
}
